@import url("reset.css");

/*----------------------------------------------*/
/*These are needed for the tab functionality and drag/drop functionality to work*/
.ui-tabs-hide 			{ visibility:hidden;}
.ui-tabs-panel { position:absolute; width:100%;}

.draggedout { visibility:visible; position:absolute;}

/*------------------------------------------------*/

body {
font-family: verdana, arial, sans-serif;
font-size: 12px;
margin: 30px;
background: #eee;
color: #666;
}

/* This specifies attributes for all the boxes.*/
#bodyArea, #swatchesArea, .ui-tabs-panel{
border: 1px solid #888;
background: #fff;
}

/*this puts rounded corners around the boxes*/
.ui-corner-all, .ui-tabs-panel{
-moz-border-radius: 5px; 
-webkit-border-radius: 5px;
}

/* this puts rounded corners around the tabs*/
.ui-corner-top a{
-moz-border-radius-topleft:5px;
-webkit-border-top-left-radius:5px;
-moz-border-radius-topright:5px;
-webkit-border-top-right-radius:5px;
}

/*This div contains the whole dollmaker. It can be placed anywhere on the page and everything will follow
  Keep the height unspecified so that it can stretch to accomodate varied number of pieces */
#container {
position: absolute;
}


/* The box that contains the basebody */
#bodyArea
{
position: absolute;
top: 0px;
width: 250px;
height: 350px;
text-align: center;
}

#bodyArea .skintone {margin-top:40px;}

#bodyArea .eyes {
position:absolute;
left: 109px;
top: 67px;
}


/* The area under the base that lets you change colours/skintones*/
#swatchesArea { 
position: absolute; 
top: 370px;
width: 240px;
padding: 0px 5px;
}

#swatchesArea a {
display: block;
float: left;
border: 1px solid #666;
margin: 2px 2px 7px 2px;
width: 20px;
height:20px;
position:relative;
}

#swatchesArea img {/* EDIT THIS to determine which section of the base you want to show in the thumbnail*/
position:absolute;
clip:rect(25px 54px 45px 34px); 
top:-25px;
left:-34px;
}

#swatchesArea h3 {
font-size: 12px;
font-weight: bold;
clear: both;
padding: 7px 0 5px 0;
}

/*The tabbed area at the right that contains all the draggable pieces*/
#piecesArea {
position: absolute; 
left: 275px;
width: 625px;
}


#tabsbar {
text-align: left; 
padding: 5px 10px 5px 10px;
}

#tabsbar li{
display: inline;
}

#tabsbar li a {
padding: 4px 10px; 
border: 1px solid #888; 
background-color: #ddd; 
color: #666; 
text-decoration: none;
font-weight:bold;
}

#tabsbar .ui-state-active a {
border-bottom: 1px solid #fff;
background-color: #fff; 
position:relative;
z-index:2;
}

/* The actual tabs panel that contains the clothing pieces*/
.ui-tabs-panel{ 
overflow:visible; /* so that the panel extends as you add pieces to it*/
clear:both;
padding:5px;
}

/*The draggable pieces*/
#piecesArea img{
margin: 5px;
cursor: move;

}

