* 		{margin: 0; padding: 0;}

.ui-tabs .ui-tabs-hide 	{visibility:collapse;}
.piececontainer 		{ display: inline-block; vertical-align:top;}
.piececontainer div 	{ display: none;}


.noSelect 				{ cursor: default;}
#piecesArea img 		{ cursor: move !important;}

.ui-tabs .ui-tabs-hide {
     visibility:hidden;
}

.ui-tabs-panel {
	position:absolute;
	width:100%;
}

.draggedout { visibility:visible; position:absolute;}


body {
font-family: verdana, arial, sans-serif;
font-size: 12px;
margin: 30px;
background: #eee;
}

#container {
position: relative;
}

h1 {
height: 70px; 
background: url('../images/title.png') no-repeat;
margin-bottom: 10px;
text-indent: -9999px;

}

#bodyArea
{
width: 250px;
height: 350px;
border: 1px solid #ccc;
background: #fff;
text-align: center;
-moz-border-radius:5px;
-webkit-border-radius:5px;

}

#bodyArea img {margin-top:40px;}

#infoArea { 
position: absolute; 
margin-top: 10px;
width: 240px;
border: 1px solid #ccc;
background: #fff;
-moz-border-radius:5px;
-webkit-border-radius:5px;
padding: 5px;
line-height:1.5;
}

#infoArea img.thumbnail {
max-height: 50px; 
max-width:50px;
float: left; 
margin-right: 10px;
display:block;
}

#infoArea div div {
float: right;
width: 180px;
height: 50px;
font-size: 10px;
overflow:hidden;
}

#addYourOwn a{
position: absolute; 
top: 505px;
margin-top: 10px;
width: 160px;
border: 1px solid #bbb;
background: #ccc;
-moz-border-radius:5px;
-webkit-border-radius:5px;
padding: 5px;
text-decoration: none;
color:#666;
}



#secondColumn {
position: absolute; 
top:80px;
left: 275px;
width: 625px;
}

#piecesArea {
padding: 12px 0;
}

h2 { 
clear: left; 
cursor:default;
font-size: 12px;
background: #ddd;
color: #666;
padding: 3px;
}

#piecesArea img {
margin: 10px 5px;
}

ul li {
display: inline;
}

ul {
position:relative;
left: 7px;
top: -3px;
z-index:1;
}

ul li a {
padding: 3px 10px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
border-left: 1px solid #ccc;
border-right: 1px solid #ccc;
border-top: 1px solid #ccc;
background:#ddd;
text-decoration: none;
font-weight: bold;
color:#888;
}

.ui-state-active a{
background:#fff;
padding:4px 10px;
}

.ui-tabs-panel, #order{
border: 1px solid #ccc;
background: #fff;
-moz-border-radius:5px;
-webkit-border-radius:5px;
}

#order {
padding: 5px;
margin-bottom: 10px;
}

.clearfix {
height:1px;
color: #fff;
clear: left; 
}
